<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PainelPress.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PainelPress.Properties.Settings>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="Senha" serializeAs="String">
                <value />
            </setting>
            <setting name="Logado" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PostSalvo" serializeAs="String">
                <value />
            </setting>
            <setting name="htmlSite" serializeAs="String">
                <value />
            </setting>
            <setting name="postsSite1" serializeAs="String">
                <value />
            </setting>
            <setting name="postsSite2" serializeAs="String">
                <value />
            </setting>
            <setting name="postsSite3" serializeAs="String">
                <value />
            </setting>
            <setting name="usuarioAtual" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SizeEditor" serializeAs="String">
                <value>200px</value>
            </setting>
            <setting name="online" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="credenciais" serializeAs="String">
                <value />
            </setting>
            <setting name="myServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="categorias" serializeAs="String">
                <value />
            </setting>
            <setting name="pathdb" serializeAs="String">
                <value />
            </setting>
            <setting name="pathJson" serializeAs="String">
                <value />
            </setting>
            <setting name="propriedade" serializeAs="String">
                <value />
            </setting>
            <setting name="site" serializeAs="String">
                <value>https://maiscertames.appmania.com</value>
            </setting>
            <setting name="twitter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="facebook" serializeAs="String">
                <value>{"ativado":false,"token":""}</value>
            </setting>
        </PainelPress.Properties.Settings>
    </userSettings>
</configuration>